
body{
    background-color: #F4EBD4;
    margin: 0;
    padding: 0;
}

h1{
    color: #80BFB9;
    font-family: 'Rajdhani', sans-serif;
    padding: 5mm;
    float: left;
}

h2{
    text-align: center;
    color: aqua
}