body { 
    margin: 0; 
    background-color: black;
}
canvas { 
    width: 100%; height: 100% 
}

#image_list_left{
    margin: 3vw;
    padding: 5vw;
}

#image_list_right{
    margin: 3vw;
    padding: 5vw;
    text-align: right;
    border: 5mm; 
    border-color: antiquewhite;
}

.pic{
    margin: 2vw;
    padding: 2vw;
    border: 5mm; 
    border-color: antiquewhite;

}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}